@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    
    --color-primary: #346739;
    --color-primary-dark: #274E2B;
    --color-primary-light: #e6efe5;
    --color-secondary: #79AE6F;
    --color-sage: #9FCB98;
    --color-cream: #F2EDC2;
    --color-text-main: #333333;
    --color-text-muted: #757575;
    --color-bg-body: #faf9f0;
    --color-border-muted: #e2e5e2;
}
