@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    
    --color-primary: #00A651;
    --color-primary-dark: #008f45;
    --color-primary-light: #e6f6ec;
    --color-secondary: #f26522;
    --color-text-main: #333333;
    --color-text-muted: #757575;
    --color-bg-body: #f4f7f6;
    --color-border-muted: #e0e0e0;
}
